@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
}

.first-section {
    background-color: #1f2937;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link,
.paragraph {
    font-size: 18px;
    color: #e5e7eb;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0px 150px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 56px 150px;
    flex: 1;
}

img {
    width: 500px;
    height: auto;
}

.content-left,
.content-right {
    height: auto;
    width: 500px;
}

button {
    cursor: pointer;
    padding: 8px 30px;
    border: 1px solid #3882F6;
    border-radius: 10px;
    background-color: #3882F6;
    color: #f9faf8;
}
